:root
	--bar-width 2em
	--bar-height 2px
	--bar-spacing 5px
	--foreground-color #000
	--background-color #fff
	--transition-speed 0.2s
	--transition-easing ease-in-out
	--hamburger-margin .5em
	--hamburger-height calc(var(--bar-height) * 3 + var(--bar-spacing) * 2 + var(--hamburger-margin) * 2)

body
	color #000
	background-color #fff

header
	max-width 40em
	min-height 5em
	img
		float left
		width 90%

.nav-menu
	display none
	float right
	ul
		list-style none
		li
			display inline-block
			margin-left 1em
			a
				text-decoration none
				color #000
				&:hover
					color #000
					text-decoration underline

.hamburger
	--x-width 1.465em
	display block
	float right
	margin-top var(--hamburger-margin)
	cursor pointer
	//border 1px solid #000
	width var(--bar-width)
	height var(--hamburger-height)
	span.bar
		display block
		width var(--bar-width)
		height var(--bar-height)
		background-color #000
		margin-bottom var(--bar-spacing)
		transition all 0.2s ease-in-out
		transform-origin left center
	&.active
		span.bar:nth-child(2)
			opacity 0
		span.bar:nth-child(1)
			rotate 45deg
			width var(--x-width)
			//transform translateY(8px)
			translate 0 calc(var(--bar-height) / -2)
		span.bar:nth-child(3)
			rotate -45deg
			width var(--x-width)
			//transform translateY(-8px)
			translate 0 calc(var(--bar-height) / 2)
//
img.simple-mobile-true
	width 70%
	max-width 30em
	margin-left auto
	margin-right auto
	margin-left auto

img.monks-home
	float left

.container
	max-width 40em



