/*!!
Theme Name:     Monk-theme
Theme URI:
Description:    Twentytwentythree child theme.
Author:         Adam Haley
Author URI:
Template:       monk-theme
Version:        0.1.1
*/
body
	display grid
	color #000
	background-color #fff
	grid-template-columns 1fr 6fr 1fr
	font-family: 'Oswald', sans-serif;
	font-size .9em
	font-leading .6em
	font-kerning normal

header
	img
		margin .2em
		float left
		width 100%
		.sm &, .md &
			width 100%

.fa-plus:hover
	color #fb0303


ul.nav-menu
	display none
	opacity 0
	list-style none
	background-color #fff
	width 100%
	height 100%
	position absolute
	top -100px
	left 0
	z-index 1000
	opacity 0
	transition all linear .2s
	font-size 1.5em
	&.active
		top 0
		opacity 1
		transition all ease-in-out .2s
		position fixed

	&.displayed
		display block

	.xs &, .sm &, .md &
		font-size 2em

	li:first-child
		margin-top 10em
		.xs &, .sm &, .md &
			margin-top 2em
	li
		align center
		margin-left auto
		margin-right auto
		margin-top 1em
		a
			text-decoration none
			color #000
			text-align center
			display block
			&:hover
				color #fb0303
				text-decoration underline
	.social
		display block
		position absolute
		bottom 0
		margin-bottom 1em
		width 100%
		text-align center

		svg
			transform scale(.8)
			margin .5em
			cursor pointer
			&:hover
				fill #fb0303
.hamburger
	cursor pointer
	margin-right .2em
	margin-top .5em

	//float right
	width 2em
	height 2em
	position absolute
	top 0
	right 0
	z-index 2000
	img
		width 80%
		height 80%

	svg
		width 100%
		height 100%
		fill #000
		/*
		&:hover
			fill #fb0303
		*/
	.menu
		display block
	.close
		display none
	&.active
		position fixed
		.menu
			display none
		.close
			display block

img.simple-mobile-true
	height 4em
	margin-top 6%
	margin-bottom 2%
	margin-left 20%

	.xs &
		height 2em

	.sm &
		height 2em
		margin-bottom 0

	.md &
		height 3em
		margin-bottom 0

img.read-this
	height 2em
	margin-top 0em

	.xs &, .sm &, .md &
		margin-top 0

	.xs &
		height 1.5em
img.more
	cursor pointer
	height 1em
	margin-top .5em

a.more-link
	display block
	text-decoration none
	padding .5em
	height .8em
	img
		display inline-block
		margin-right .2em
	i
		display inline-block
		color #000 !important
		&:hover
			color #fb0303 !important

.gutter
	width 100%
	grid-row span 5

.container
	display grid
	grid-template-columns repeat( 8, 1fr )
	gap 1em
	.row
		grid-column-start 2
		grid-column-end 9

		.xs &, .sm &, .md &
			grid-column-start 1
			grid-column-end 10

	.buy
		margin-top 4em
		width 100%
		grid-column-start 1
		grid-column-end 8
		img
			height 2.5em
			display block

			.xs &
				height 1.5em
	a.cart
		display block
		text-decoration none
		padding .5em
		height .8em
		margin-top 4em
		grid-column-start 9
		grid-column-end 10

		.xs &, .sm &
			margin-top 0
		img
			display inline-block
			margin-right .2em
		i
			font-weight 600
			position relative
			color #000 !important
			&:hover
				color #fb0303 !important

	.content
		display block
		position relative
		grid-column-start 5
		grid-column-end 9
		.xs &, .sm &, .md &
			grid-column-start 1
			grid-column-end 10

	span.overflow, div.buy-overflow
		display block
		max-height 0px
		width auto
		overflow hidden
		transition max-height ease-in-out .2s
		.xs &, .sm &, .md &
			padding-top 3em
		&.in
			max-height 1000px
			//transition max-height ease-in-out .5s

	ul.back-issues
		display grid
		grid-column-start 1
		grid-column-end 10
		grid-template-columns repeat( 6, 1fr )
		gap 1.5em
		list-style-type none
		counter-reset issues 3 /* initializes counter to 0; use -1 for zero-based numbering */

		.md &, .sm &
			grid-template-columns repeat( 4,  1fr )
			gap 1em 1em //row column
			li.issue
				grid-column-start auto
				grid-column-end auto
				img
					width 100%
					height auto
					&:hover
						transform scale(1.05)

		.xs &
			grid-template-columns 1fr
			gap 1em

			li.issue
				grid-column-start auto
				grid-column-end auto
				img
					width 100%
					height auto
					&:hover
						transform scale(1.03)

		li.issue
			//overflow hidden
			cursor pointer
			position relative
			.xs &, .sm &
				margin-bottom 1em
			&:after
				content counter(issues)
				color #fc0003
				counter-increment issues 1/* Increase the counter by 1. */
				position absolute
				width 100%
				text-align center
				bottom -.4em
				//align center
				margin-left auto
				margin-right auto
				left 0
				right 0
				font-size 1.5em
				font-weight 600
				.xs &
					font-size 3em
			//on hover grow image
			img
				transform scale(1)
				transition all ease-in-out .2s
				&:hover
					transform scale(1.1)
	div.buy-overflow
		grid-column-start 1
		grid-column-end 10
		&.in
			max-height 20000px

	ul.more-stuff
		display grid
		grid-column-start 1
		grid-column-end 10
		grid-template-columns repeat( 6, 1fr )
		gap 1.5em
		list-style-type none
		margin-bottom 1em
		.md &, .sm &
			grid-template-columns repeat( 4,  1fr )
			gap 1em 1em //row column
			li.product
				grid-column-start auto
				grid-column-end auto
				img
					width 100%
					height auto
					&:hover
						transform scale(1.05)

		.xs &
			grid-template-columns 1fr
			gap 1em

			li.product
				grid-column-start auto
				grid-column-end auto
				img
					width 100%
					height auto
					&:hover
						transform scale(1.03)

		li.product
			cursor pointer
			position relative
			.xs &, .sm &
				margin-bottom 1em

			img
				transform scale(1)
				transition all ease-in-out .2s
				&:hover
					transform scale(1.1)
.more-stuff-to-buy
	display block
	grid-column-start 7
	grid-column-end 10
	text-decoration none
	padding .5em
	height 1em
	width 100%
	margin-top -4.5em
	.xs &, .sm &
		margin-top 0
	img
		display inline-block
		.xs &
			height 1em
			margin-top -1em
		.md &
			margin-top 2em

	i
		position relative
		top -2px
		.xs &
			top -7px
		.sm &
			top -4px
		.md &
			top -3px
		display inline-block
		color #000 !important
		&:hover
			color #fb0303 !important

	.md &, .sm &
		width 100%
		//margin-left 4em
		margin-top -1em
		margin-bottom 1em
		grid-column-start 7
		grid-column-end 11
		img
			width 80%
			height auto
			margin-right .2em
	.xs &
		margin-top 0
		margin-bottom 1em
		grid-column-start 1
		grid-column-end 9
		img
			width 80%
			height auto
			margin-right .2em

.on-the-road
	display grid
	grid-column-start 1
	grid-column-end 10
	text-decoration none
	padding .5em
	width 100%
	margin-top 1em

	.on-the-road-with-the-monks
		height auto
		max-width 100%

	p
		margin-top 1em
		float left
		width 50%
		padding-right .5em
		.xs &, .sm &, .md &
			width 100%
			float none
			margin-top 1em

	#monk-on-the-road
		float right
		width 50%
		max-width 100%

		.xs &, .sm &, .md &
			width 100%
			float none
			margin-top .5em
			margin-bottom 1em

	.more-thrills
		margin-top 1em
		height 1em
		img
			display inline-block
			margin-right .2em
			max-width none
			height 1em
		i
			position relative
			display inline-block
			color #000 !important
			&:hover
				color #fb0303 !important

.overflow-bottom
	display block
	cursor pointer
	height 0em
	margin-top 1em
	transition all ease-in-out .2s
	grid-column-start 1
	grid-column-end 10
	grid-row-start 2
	grid-row-end 3

	i.fa
		display none

	.in &
		height 1em
		background-color #fb0303

		i.fa
			margin-right.5em
			display block
			float right
			color #000

		&:hover
			i.fa
				color #fff

.thrills-overflow
	display block
	grid-column-start 1
	grid-column-end 10
	max-height 0px
	overflow hidden
	transition max-height ease-in-out .2s
	border-bottom 0em
	padding-bottom 0em
	margin-top 1.5em

	.thrills-wrapper
		display grid
		grid-template-columns repeat( 3, 1fr )
		gap 5em

		.sm &
			gap 1em
		.md &
			gap 1.5em

		.xs &
			grid-template-columns 1fr
			grid-template-rows repeat( 3, 1fr )
			gap 1em
			overflow hidden
			transition all ease-in-out .2s
			border-bottom 0em
			padding-bottom 0em
			margin-top 1.5em

	.overflow-bottom
		display block
		height 0em

		transition all ease-in-out .2s
		grid-column-start 1
		grid-column-end 4


		i.fa
			display none

	&.in
		max-height 20000px
		transition max-height ease-in-out .2s
		padding-bottom 1em

		.overflow-bottom
			cursor pointer
			height 1em
			width 100%
			background-color #fb0303
			grid-row-start 2
			grid-row-end 3
			i.fa
				margin-right.5em
				display inline-block
				float right
				color #000
			&:hover
				i.fa
					color #fff

	.thrill
		width 100%
		img
			cursor pointer
			margin-left auto
			margin-right auto
			width 100%
			height auto
			transition all ease-in-out .2s
			&:hover
				transform scale(1.05)
				transition all ease-in-out .2s

.footer
	display grid
	grid-template-columns repeat( 8 , 1fr )
	grid-template-rows repeat( 3, 1fr )
	content-align center
	height 12em
	img.connect
		grid-row-start 1
		grid-row-end 2
		grid-column-start 3
		grid-column-end 7
		margin-top 1em

		.lg &, .xl &
			margin-top 0
			grid-row-start 1
			grid-row-end 2
			grid-column-start 4
			grid-column-end 6
			margin-top 1em
	.social
		grid-row-start 2
		grid-row-end 3
		display block
		margin-top 2em
		margin-bottom 0
		grid-column-start 1
		grid-column-end 9
		text-align center

		svg
			transform scale(.8)
			margin 1em
			cursor pointer
			&:hover
				fill #fb0303
		.xs &, .sm &, .md &
			margin-top 0
			margin-bottom 0
			grid-column-start 1
			grid-column-end 9
			text-align center
			svg
				transform scale(.8)
				margin 1em
				cursor pointer
				&:hover
					fill #fb0303
	.copyright
		height 1em
		grid-row-start 3
		grid-row-end 3
		grid-column-start 1
		grid-column-end 10
		text-align center
		font-size .7em

.back-to-top
	cursor pointer
	margin-right .2em
	margin-top .5em

	//float right
	width 2em
	height 2em
	position fixed
	bottom 0
	right 0
	display none
	z-index 2000
	opacity 0
	transition all ease-in-out .2s
	&.in
		display block

	&.visible
		opacity 1
	svg
		width 80%
		height 80%

		&:hover
			fill #fb0303

#monks-home
	grid-column-start 2
	grid-column-end 5
	width 20em
	height 30em
	.xs &
		grid-column-start 1
		grid-column-end 10
		width 100%
		height 20em
		overflow hidden
		margin-bottom 1em
	.sm &, .md &
		grid-column-start 1
		grid-column-end 10
		width 100%
		height 40em
		margin-bottom 1em
		overflow hidden
		img
			width 100%
			height 100%
			object-fit cover
			object-position 50% -30%
			transition all ease-in-out .2s
			&:hover
				transform scale(1.05)
				transition all ease-in-out .2s
