body
	color #000
	background-color #fff


header
	max-width 40em
	min-height 5em
	img
		float left
		width 90%

.nav-menu
	display none
	float right
	ul
		list-style none
		li
			display inline-block
			margin-left 1em
			a
				text-decoration none
				color #000
				&:hover
					color #000
					text-decoration underline

.hamburger
	display block
	float right
	margin-top 1.5em
	//border 1px solid #000

	span.bar
		display block
		width 2em
		height 2px
		background-color #000
		margin-bottom 4px
		transition all 0.2s ease-in-out

	&.active
		span.bar:nth-child(2)
			opacity 0
		span.bar:nth-child(1)
			transform rotate(45deg) translate(8px)
		span.bar:nth-child(3)
			transform rotate(-45deg) translate(-8px)

img.simple-mobile-true
	width 70%
	max-width 30em
	margin-left auto
	margin-right auto
	margin-left auto

img.monks-home
	float left

.container
	max-width 40em



