body
	display grid
	font-family: 'Oswald', sans-serif;
	font-size .9em
	line-height 1.2em

	.wp-site-blocks
		padding 0em
h2
	font-size 1.5em
	font-weight 400
	line-height 2em

header
	img.header
		width 80%
		margin-left 10%
		.md &, .xs &
			margin-left 5%
		.xs &
			width 80%
.fa-plus:hover
	color #fb0303

ul.nav-menu
	display none
	opacity 0
	margin 0 !important
	padding 0 !important
	list-style none
	background-color #fff
	width 100%
	height 100%
	position absolute
	top -100px
	left 0
	z-index 1000
	opacity 0
	transition all linear .2s
	font-size 1.5em
	&.active
		top 0
		opacity 1
		transition all ease-in-out .2s
		position fixed

	&.displayed
		display block

	.xs &, .sm &, .md &
		font-size 2em

	li:first-child
		margin-top 10em
		.xs &, .sm &, .md &
			margin-top 2em
	li
		align center
		margin-left auto
		margin-right auto
		margin-top 1em
		a
			text-decoration none
			color #000
			text-align center
			display block
			&:hover
				color #fb0303
				text-decoration underline
	.social-links
		display block
		position absolute
		bottom 0
		margin-bottom 1em
		width 100%
		text-align center

		svg
			transform scale(.8)
			margin .5em
			cursor pointer
			&:hover
				fill #fb0303

.hamburger
	cursor pointer
	margin-right .2em
	margin-top .5em

	//float right
	width 2em
	height 2em
	position fixed
	top 0px
	right 0px
	z-index 2000
	img
		width 80%
		height 80%

	svg
		width 100%
		height 100%
		fill #000

	/*
	&:hover
		fill #fb0303
	*/
	.menu
		display block
	.close
		display none
	&.active
		position fixed
		.menu
			display none
		.close
			display block


.container
	margin 0 auto
	width 90%
	max-width 1200px
	padding-left 0
	padding-right 0

.wp-site-blocks
	h1.wp-block-heading
		padding-left 16%
		padding-bottom 1em

	h1.wp-block-post-title
		padding-left 16%
		padding-bottom 1em

.wp-block-post-title
	line-height 1.2em
	padding-left 10%

p.block-site-title
	a
		font-size 1.5em
		font-weight bold
		line-height 2em
		padding-left 10%

img.attachment-woocommerce_single
	transform scale(1)
	transition all ease-in-out .2s
	&:hover
		transform scale(1.05)


a
	color #000
	&:hover
		color #fb0303

button.wp-block-button__link
	color #fff
	background-color #000
	border none
	padding 10px 20px
	&:hover
		background-color #fb0303
		color #fff

.added_to_cart
	margin-left 1em

img.header
	margin .2em
	width 20em

.footer
	display grid
	grid-template-columns repeat( 8 , 1fr )
	grid-template-rows repeat( 3, 1fr )
	content-align center
	height 12em
	img.connect
		grid-row-start 1
		grid-row-end 2
		grid-column-start 3
		grid-column-end 7
		margin-top 1em

		.lg &, .xl &
			margin-top 0
			grid-row-start 1
			grid-row-end 2
			grid-column-start 4
			grid-column-end 6
			margin-top 1em
	.social-links
		grid-row-start 2
		grid-row-end 3
		display block
		margin-top 2em
		margin-bottom 0
		grid-column-start 1
		grid-column-end 9
		text-align center

		svg
			transform scale(.8)
			margin 1em
			cursor pointer
			&:hover
				fill #fb0303
		.xs &, .sm &, .md &
			margin-top 0
			margin-bottom 0
			grid-column-start 1
			grid-column-end 9
			text-align center
			svg
				transform scale(.8)
				margin 1em
				cursor pointer
				&:hover
					fill #fb0303
	.copyright
		height 1em
		grid-row-start 3
		grid-row-end 3
		grid-column-start 1
		grid-column-end 10
		text-align center
		font-size .7em

.back-to-top-link
	cursor pointer
	margin-right .2em
	margin-top .5em

	//float right
	width 2em
	height 2em
	position fixed
	bottom 0
	right 0
	display none
	z-index 2000
	opacity 0
	transition all ease-in-out .2s
	&.in
		display block

	&.visible
		opacity 1
	svg
		width 80%
		height 80%

		&:hover
			fill #fb0303

bdi
	line-height 2em

input
	height 4em

input.wc-block-components-quantity-selector__input
	height 1em
	width 2em

.wc-block-components-product-sku
	left 0px

.wp-image-81
	display block
	margin-left auto
	margin-right auto
	.xs &, .sm &
		width 100% !important
		height auto !important

.wp-container-3.wp-container-3
	justify-content center

.wp-block-woocommerce-product-image-gallery
	margin 2em

h1.wp-block-query-title
	line-height 2em

.wp-block-query
	margin-top 1em

.woocommerce-breadcrumb
	visibility hidden

.woocommerce-checkout
	br
		display none
	p
		margin 0
		padding 0
		display inline

body .wp-site-blocks
	padding 0em

.woocommerce-privacy-policy-text
	//display none

.wp-block-woocommerce-related-products
	width 80%
	margin-left auto
	margin-right auto

.wc-block-components-product-rating
	display none

.woocommerce div.product div.images .flex-control-thumbs li
	padding .5em
	padding-left 0
