/*!****************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/stylus-native-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./styl/shop.styl ***!
  \****************************************************************************************************************************************************************************/
body {
  font-family: 'Oswald', sans-serif;
  font-size: 0.9em;
  line-height: 1.2em;
}
body .wp-site-blocks {
  padding: 1em;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2em;
}
.container {
  margin: 0 auto;
  width: 70%;
  max-width: 1200px;
  padding: 0 20px;
}
.wp-site-blocks h1.wp-block-heading {
  padding-left: 16%;
  padding-bottom: 1em;
}
.wp-site-blocks h1.wp-block-post-title {
  padding-left: 16%;
  padding-bottom: 1em;
}
.wp-block-post-title {
  line-height: 1.2em;
  padding-left: 10%;
}
p.block-site-title a {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  padding-left: 10%;
}
img.attachment-woocommerce_single {
  transform: scale(1);
  transition: all ease-in-out 0.2s;
}
img.attachment-woocommerce_single:hover {
  transform: scale(1.05);
}
a {
  color: #000;
}
a:hover {
  color: #fb0303;
}
button.wp-block-button__link {
  color: #fff;
  background-color: #000;
  border: none;
  padding: 10px 20px;
}
button.wp-block-button__link:hover {
  background-color: #fb0303;
  color: #fff;
}
.added_to_cart {
  margin-left: 1em;
}
img.header {
  margin: 0.2em;
  width: 20em;
}
.footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  content-align: center;
  height: 12em;
}
.footer img.connect {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 7;
  margin-top: 1em;
}
.lg .footer img.connect,
.xl .footer img.connect {
  margin-top: 0;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 6;
  margin-top: 1em;
}
.footer .social-links {
  grid-row-start: 2;
  grid-row-end: 3;
  display: block;
  margin-top: 2em;
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 9;
  text-align: center;
}
.footer .social-links svg {
  transform: scale(0.8);
  margin: 1em;
  cursor: pointer;
}
.footer .social-links svg:hover {
  fill: #fb0303;
}
.xs .footer .social-links,
.sm .footer .social-links,
.md .footer .social-links {
  margin-top: 0;
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 9;
  text-align: center;
}
.xs .footer .social-links svg,
.sm .footer .social-links svg,
.md .footer .social-links svg {
  transform: scale(0.8);
  margin: 1em;
  cursor: pointer;
}
.xs .footer .social-links svg:hover,
.sm .footer .social-links svg:hover,
.md .footer .social-links svg:hover {
  fill: #fb0303;
}
.footer .copyright {
  height: 1em;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 10;
  text-align: center;
  font-size: 0.7em;
}
.footer .back-to-top {
  cursor: pointer;
  margin-right: 0.2em;
  margin-top: 0.5em;
  width: 2em;
  height: 2em;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 2000;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}
.footer .back-to-top.in {
  display: block;
}
.footer .back-to-top.visible {
  opacity: 1;
}
.footer .back-to-top svg {
  width: 80%;
  height: 80%;
}
.footer .back-to-top svg:hover {
  fill: #fb0303;
}
bdi {
  line-height: 2em;
}
input {
  height: 4em;
}
input.wc-block-components-quantity-selector__input {
  height: 1em;
  width: 2em;
}
ol.flex-control-thumbs li {
  cursor: pointer;
  width: 6em;
  height: 6em;
  float: left;
  border: 2px solid #fff;
}
ol.flex-control-thumbs li img {
  width: 100%;
  object-fit: contain;
}
.wp-image-81 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.xs .wp-image-81,
.sm .wp-image-81 {
  width: 100% !important;
  height: auto !important;
}
.wp-container-3.wp-container-3 {
  justify-content: center;
}
.wp-block-woocommerce-product-image-gallery {
  margin: 2em;
}
h1.wp-block-query-title {
  line-height: 2em;
}
.wp-block-query {
  margin-top: 1em;
}


/*# sourceMappingURL=shop.css.map*/